.elementor-29053 .elementor-element.elementor-element-134a00c7{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:space-between;--gap:0px 0px;--background-transition:0.3s;--padding-top:45px;--padding-bottom:45px;--padding-left:50px;--padding-right:50px;}.elementor-widget-theme-site-logo .widget-image-caption{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Playfair Display;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-29053 .elementor-element.elementor-element-7cf23c12{text-align:left;}.elementor-29053 .elementor-element.elementor-element-7cf23c12 img{width:100%;height:27px;}.elementor-widget-button .elementor-button{background-color:var( --e-global-color-accent );font-family:var( --e-global-typography-accent-font-family ), Playfair Display;font-size:var( --e-global-typography-accent-font-size );font-weight:var( --e-global-typography-accent-font-weight );line-height:var( --e-global-typography-accent-line-height );}.elementor-29053 .elementor-element.elementor-element-4cbdf7eb .elementor-button{background-color:var( --e-global-color-d696eb1 );font-family:"Inter", Playfair Display;font-size:20px;font-weight:500;text-decoration:underline;line-height:1.5em;fill:var( --e-global-color-primary );color:var( --e-global-color-primary );border-style:none;padding:0px 0px 0px 0px;}.elementor-29053 .elementor-element.elementor-element-46af110d{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;--padding-top:0px;--padding-bottom:50px;--padding-left:0px;--padding-right:0px;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-row{margin-top:0px;margin-bottom:30px;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__label{margin:0px 0px 20px 0px;text-align:left;font-family:var( --e-global-typography-8b2301f-font-family ), Playfair Display;font-size:var( --e-global-typography-8b2301f-font-size );font-weight:var( --e-global-typography-8b2301f-font-weight );line-height:var( --e-global-typography-8b2301f-line-height );color:var( --e-global-color-primary );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__label .jet-form-builder__required{color:#CC7E7E;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__desc{margin:0px 0px 15px 0px;text-align:left;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__fields-group{gap:0.7em 0.7em;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__field-wrap.checkradio-wrap span{gap:0px;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__field-wrap span::before{font-size:20px;border-radius:50% 50% 50% 50%;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__field-wrap label{color:var( --e-global-color-primary );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder ::-webkit-input-placeholder{color:#D5D5D5;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder ::-ms-input-placeholder{color:#D5D5D5;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder ::-moz-placeholder{color:#D5D5D5;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder :-moz-placeholder{color:#D5D5D5;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__field:not(.checkradio-field):not(.range-field):not(.jet-form-builder-repeater):not(.wysiwyg-field){padding:14px 14px 14px 14px;border-style:solid;border-color:var( --e-global-color-f87721a );border-radius:8px 8px 8px 8px;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder input{color-scheme:normal;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-repeater__row-remove{align-self:flex-start;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__action-button{background-color:var( --e-global-color-3843f07 );color:var( --e-global-color-secondary );transition:all 0.3s;padding:16px 28px 16px 28px;border-style:solid;border-color:var( --e-global-color-3843f07 );border-radius:8px 8px 8px 8px;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__action-button:hover{background-color:var( --e-global-color-d8ce69a );border-color:var( --e-global-color-d8ce69a );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__submit-wrap{justify-content:stretch;align-items:stretch;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__submit-wrap > .jet-form-builder__submit{width:100%;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__submit{justify-content:center;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__next-page-wrap{text-align:left;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__next-page{padding:16px 30px 16px 30px;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-row .jet-form-builder__action-button-wrapper[data-type="next"]{justify-content:flex-end;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__next-page:hover{color:var( --e-global-color-secondary );background-color:var( --e-global-color-de2623f );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__prev-page{padding:16px 30px 16px 30px;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__prev-page:hover{color:var( --e-global-color-secondary );background-color:var( --e-global-color-de2623f );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages{padding:20px 050px 20px 50px;font-family:var( --e-global-typography-1fd77bb-font-family ), Playfair Display;font-size:var( --e-global-typography-1fd77bb-font-size );font-weight:var( --e-global-typography-1fd77bb-font-weight );line-height:var( --e-global-typography-1fd77bb-line-height );color:var( --e-global-color-3c4f6bd );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper.active-page .jet-form-builder-progress-pages__item{padding:0px 0px 0px 0px;color:var( --e-global-color-primary );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper.active-page .jet-form-builder-progress-pages__separator{height:0px;min-height:0px;background-color:var( --e-global-color-d696eb1 );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper.active-page .jet-form-builder-progress-pages__item--circle{border-style:none;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper:not(.passed-page):not(.active-page) .jet-form-builder-progress-pages__item{padding:0px 0px 0px 0px;color:var( --e-global-color-3c4f6bd );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper:not(.passed-page):not(.active-page) .jet-form-builder-progress-pages__separator{height:0px;min-height:0px;background-color:var( --e-global-color-d696eb1 );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper:not(.passed-page):not(.active-page) .jet-form-builder-progress-pages__item--circle{border-style:none;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper.passed-page .jet-form-builder-progress-pages__item{padding:0px 0px 0px 0px;color:var( --e-global-color-accent );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper.passed-page .jet-form-builder-progress-pages__separator{height:0px;min-height:0px;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper.passed-page .jet-form-builder-progress-pages__item--circle{border-style:none;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-message--success{text-align:center;background-color:var( --e-global-color-82cccec );border-style:none;border-radius:8px 8px 8px 8px;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-message--error{text-align:center;background-color:var( --e-global-color-82cccec );border-style:none;border-radius:8px 8px 8px 8px;}body.elementor-page-29053:not(.elementor-motion-effects-element-type-background), body.elementor-page-29053 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(90deg, var( --e-global-color-c03c43d ) 30%, var( --e-global-color-82cccec ) 0%);}@media(max-width:1024px){.elementor-29053 .elementor-element.elementor-element-134a00c7{--padding-top:30px;--padding-bottom:30px;--padding-left:20px;--padding-right:20px;}.elementor-widget-theme-site-logo .widget-image-caption{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-29053 .elementor-element.elementor-element-7cf23c12 img{max-width:144px;}.elementor-widget-button .elementor-button{font-size:var( --e-global-typography-accent-font-size );line-height:var( --e-global-typography-accent-line-height );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__label{font-size:var( --e-global-typography-8b2301f-font-size );line-height:var( --e-global-typography-8b2301f-line-height );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__action-button{border-width:1px 1px 1px 1px;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages{padding:0px 20px 0px 20px;font-size:var( --e-global-typography-1fd77bb-font-size );line-height:var( --e-global-typography-1fd77bb-line-height );}}@media(max-width:767px){.elementor-29053 .elementor-element.elementor-element-134a00c7{--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-top:20px;--padding-bottom:20px;--padding-left:20px;--padding-right:20px;}.elementor-widget-theme-site-logo .widget-image-caption{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-29053 .elementor-element.elementor-element-7cf23c12 img{height:19px;}.elementor-widget-button .elementor-button{font-size:var( --e-global-typography-accent-font-size );line-height:var( --e-global-typography-accent-line-height );}.elementor-29053 .elementor-element.elementor-element-4cbdf7eb .elementor-button{font-size:16px;}.elementor-29053 .elementor-element.elementor-element-46af110d{--margin-top:30px;--margin-bottom:30px;--margin-left:0px;--margin-right:0px;}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__label{font-size:var( --e-global-typography-8b2301f-font-size );line-height:var( --e-global-typography-8b2301f-line-height );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages{font-size:var( --e-global-typography-1fd77bb-font-size );line-height:var( --e-global-typography-1fd77bb-line-height );}.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper.active-page .jet-form-builder-progress-pages__item{padding:20px 20px 20px 20px;}}/* Start custom CSS for button, class: .elementor-element-4cbdf7eb */.elementor-29053 .elementor-element.elementor-element-4cbdf7eb a {
    text-underline-offset: 5px;

}/* End custom CSS */
/* Start custom CSS for jet-form-builder-form, class: .elementor-element-1d25eeff *//*Basic layout*/
@media (min-width: 768px) {
    .elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder {
        display: flex;
    }
    .elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages {
        max-width: 30%;
        flex: 0 0 30%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-page {
        padding: 0px 50px;
        flex: 0 0 70%;
    }
}
iframe#wp_editor_description_ifr {
    min-height: 300px;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .mce-btn .mce-txt:after, .elementor-29053 .elementor-element.elementor-element-1d25eeff .mce-btn .mce-txt:before  {
    content: none!important;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__label {
    order: 1;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__desc {
    order: 2;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__field-wrap, .elementor-29053 .elementor-element.elementor-element-1d25eeff .wp-block-jet-forms-choices-field, .elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__fields-group.checkradio-wrap, .elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-fb-map-field {
    order: 3;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .error-message {
    order: 4;
} 
@media (max-width: 1024px) {
    .elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-page {
        padding: 0px 20px;
    }
}
/*map*/
.elementor-29053 .elementor-element.elementor-element-1d25eeff #listing_map {
    margin: 20px 0px 40px;
          height: 400px;
            width: 100%;
}
/*progress*/

.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper {
    flex: unset;
    margin-bottom: 15px;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jfb-progress-type--default .jet-form-builder-progress-pages__item {
    flex-direction: row;
    gap: 10px;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--label,
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper {
    position: relative;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--circle {
    background-color: white;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff
    .jet-form-builder-progress-pages__item--wrapper:not(.active-page):not(
        .passed-page
    ) {
    opacity: 0.7;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper.passed-page:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: white;
    left: 17px;
    bottom: -15px;
}
@media (max-width: 767px) {
    .elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper:not(.active-page) {
        display: none;
    }
    .elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages {
        justify-content: center;
        background-color: var(--e-global-color-secondary);
        border-radius: 20px;
        margin: 0 20px 20px;
    }
    .elementor-29053 .elementor-element.elementor-element-1d25eeff
        .jfb-progress-type--default
        .jet-form-builder-progress-pages__item {
        flex-direction: column;
    }
    .elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--circle {
        border-style: solid !important;
        border-color: black !important;
        border-width: 3px !important;
    }
    .elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-progress-pages__item--wrapper {
        margin-bottom: 0px;
    }
}
/*select */
.elementor-29053 .elementor-element.elementor-element-1d25eeff .nice-select{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 54px;

    background: white;

}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .current {
    font-size: 16px;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .current:before {
 display: none;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .open{
    border: 1px solid #D4BDA0;
    box-shadow: 0px 0px 0px 4px #F3ECE2, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}


.elementor-29053 .elementor-element.elementor-element-1d25eeff .nice-select:after{
    content: "";
    display: block;
    position: static;
    border: none!important;
    margin: 0px!important;
    transform: none!important;
    width: 20px;
    height: 20px;
    background-image: url(/wp-content/uploads/2023/11/chevron-down.svg);
}

.elementor-29053 .elementor-element.elementor-element-1d25eeff .list{
    max-height: 400px;
    overflow: auto;
    width:100%;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid #F6F5F3;
    background: white;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.elementor-29053 .elementor-element.elementor-element-1d25eeff .selected:after{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("/wp-content/uploads/2023/11/check-1.svg");
}

.elementor-29053 .elementor-element.elementor-element-1d25eeff .option{
    width: 100%;
    padding: 10px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}




@media screen and (max-width: 1024px) {
    .elementor-29053 .elementor-element.elementor-element-1d25eeff .current {
        text-overflow: ellipsis;
    overflow: hidden;
    max-width: 112px;
    white-space: nowrap;
    }
.elementor-29053 .elementor-element.elementor-element-1d25eeff .nice-select{
    width: 100%;    
    padding: 14px!important;
    border: 1px solid #EBEBE5;
    box-shadow: none;
    gap:8px;
}

.elementor-29053 .elementor-element.elementor-element-1d25eeff .list{
position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    max-height: 250px;
    max-width: 69vw;
    top: 50%;
}

.elementor-29053 .elementor-element.elementor-element-1d25eeff .nice-select.open .background_list{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%; 
    border: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #0C0803;
    opacity: 0.4;
    pointer-events: none!important;
}
}
/*choice blocks, radios*/

.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-choice--item,
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__field-wrap.radio-wrap.checkradio-wrap label {
    border-radius: 12px;
    border: 1px solid #ebebe5;
    background: #fff;
    width: 100%;
    position: relative;
    padding-right: 36px;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff li.jet-form-builder-choice--item:has(input:checked),
.elementor-29053 .elementor-element.elementor-element-1d25eeff
    .jet-form-builder__field-wrap.radio-wrap.checkradio-wrap
    label:has(input:checked) {
    border: 1px solid #ac875b;
    background: #f6f5f3;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff li.jet-form-builder-choice--item:before,
.elementor-29053 .elementor-element.elementor-element-1d25eeff
    .jet-form-builder__field-wrap:not(.jet-form-builder-file-upload)
    span:before {
    content: "";
    border-radius: 50%;
    border: 1px solid #dbd9d1;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translatey(-50%);
    right: 15px;
    margin-right: 0;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff li.jet-form-builder-choice--item:after,
.elementor-29053 .elementor-element.elementor-element-1d25eeff
    .jet-form-builder__field-wrap:not(.jet-form-builder-file-upload)
    span:after {
    content: "";
    border-radius: 50%;
    background: #ac875b;
    position: absolute;
    width: 9px;
    height: 9px;
    top: 50%;
    transform: translatey(-50%) scale(0);
    right: 20px;
    opacity: 0;
    transition: 200ms;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff li.jet-form-builder-choice--item:has(input:checked):before,
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__field-label.for-radio :checked + span:before {
    border: 1px solid #ac875b;
    background: transparent;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff li.jet-form-builder-choice--item:has(input:checked):after,
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__field-label.for-radio :checked + span:after {
    transform: translatey(-50%) scale(1);
    opacity: 1;
}
/*steps*/
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__next-page-wrap {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__next-page-msg {
    flex: 0 0 100%;
    color: #cc7e7e;
    font-weight: 600;
    text-align: center;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff
    .jet-form-builder__next-page-wrap:not(
        :has(button.jet-form-builder__prev-page)
    ) {
    justify-content: flex-end;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__next-page-wrap button[disabled] {
    opacity: 0.4;
    cursor: not-allowed;
}
/*specific radio input */
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__field-wrap.radio-wrap.checkradio-wrap label {
    padding: 20px 36px 20px 20px;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff
    .jet-form-builder__field-label.for-radio
    :not(:disabled):active
    + span::before,
.elementor-29053 .elementor-element.elementor-element-1d25eeff
    .jet-form-builder__field-label.for-radio
    :focus:not(:checked)
    + span::before,
.elementor-29053 .elementor-element.elementor-element-1d25eeff
    .jet-form-builder__field-label.for-radio
    :not(:disabled):not(:checked):hover
    + span::before,
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-choice--item:hover:before {
    background-color: transparent;
    border-color: #ac875b;
}

/*hidden-input*/
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-row:has(.hidden-input) {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: -999999px;
}

/*custom shortcode terms list*/
.elementor-29053 .elementor-element.elementor-element-1d25eeff .countries-list,
.elementor-29053 .elementor-element.elementor-element-1d25eeff .child-terms {
    list-style: none;
    padding: 0px;
    color: var(--e-global-color-primary);
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .countries-list input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .countries-list .child-terms {
    display: none;
    margin: 25px 0px 40px 40px;
}
/*gallery*/
.elementor-29053 .elementor-element.elementor-element-1d25eeff .filepond--root {
    contain: unset !important;
    height: 100% !important;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .filepond--drop-label {
    position: relative;
    background-color: transparent;
    border-radius: 8px;
    border: 1px dashed #dbd9d1;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .filepond--panel {
    display: none;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .filepond--credits,
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-file-upload__content {
    display: none;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .filepond--list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px;
    position: static;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .filepond--file .filepond--file-status {
    margin-left: auto;
    margin-right: 1px;
    position: relative;
    transform: unset !important;
    bottom: 0 !important;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .filepond--item {
    width: calc(25% - 8px);
    margin: 0;
    position: relative;
    transform: unset !important;
    height: 200px !important;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .filepond--root .filepond--list-scroller {
    transform: unset !important;
    position: relative;
    margin: 0 !important;
}

.elementor-29053 .elementor-element.elementor-element-1d25eeff [data-filepond-item-state="load-invalid"] .filepond--file {
    background: #863434;
    flex-direction: column;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff [data-filepond-item-state="load-invalid"] .featured_image {
    display: none;
}
@media (max-width: 1600px) {
    .elementor-29053 .elementor-element.elementor-element-1d25eeff .filepond--item {
        width: calc(33.3% - 8px);
    }
}

@media (max-width: 767px) {
    .elementor-29053 .elementor-element.elementor-element-1d25eeff .filepond--item {
        width: calc(50% - 8px);
    }
    .elementor-29053 .elementor-element.elementor-element-1d25eeff .filepond--item {
        height: 100px !important;
    }
}
button.filepond--file-action-button.filepond--action-remove-item:hover {
    outline: none;
    border: none !important;
    box-shadow: none;
    color: white;
    background: grey;
}
.featured_image {
    position: absolute;
    bottom: 6px;
    z-index: 22;
    left: 5px;
    background-color: white;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
}
.featured_image.active {
    background-color: #e7d8c5;
color: var(--e-global-color-primary);
    font-weight: bold;
}

@media (max-width: 1024px) {
   .elementor-29053 .elementor-element.elementor-element-1d25eeff .featured_image {
        font-size:13px;
    }
}

/*checkboxes*/

.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__fields-group.checkradio-wrap:has(.custom-checkbox) {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__fields-group.checkradio-wrap:has(.custom-checkbox) .jet-form-builder__field-label > span:before,
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__fields-group.checkradio-wrap:has(.custom-checkbox) .jet-form-builder__field-label.for-checkbox :checked + span:before {
    display: none;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__fields-group.checkradio-wrap:has(.custom-checkbox) label.jet-form-builder__field-label.for-checkbox span {
    border-radius: 50px;
    border: 1px solid #ebebe5;
    padding: 12px 20px;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__fields-group.checkradio-wrap:has(.custom-checkbox) label.jet-form-builder__field-label.for-checkbox input:checked + span {

border: 1px solid  #AC875B;
background: #F6F5F3;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__fields-group.checkradio-wrap:has(.custom-checkbox) .jet-form-builder__field-wrap.checkradio-wrap {
    margin-bottom: 0px;
}
/*select2*/
.elementor-29053 .elementor-element.elementor-element-1d25eeff .select2 {
    width: 100%!important;
}
.elementor-kit-10 .select2-results__option {
        padding: 14px 30px 14px 30px;
} 
.elementor-kit-10 .select2-container--default .select2-results__option--selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.elementor-kit-10 .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    color: var(--e-global-color-3843f07);
    background-color: #FAFAF9;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .select2 span:before,
.elementor-29053 .elementor-element.elementor-element-1d25eeff .select2 span:after {
    display: none;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .select2-container--default .select2-selection--multiple {

    padding: 12px 14px 14px 14px;
    border-style: solid;
    border-color: var(--e-global-color-f87721a);
    border-radius: 8px 8px 8px 8px;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .select2-container--default .select2-selection--multiple .select2-selection__choice {
        border-style: solid;
    border-color: var(--e-global-color-f87721a);
    border-radius: 8px 8px 8px 8px;
    background: white;
}
.elementor-kit-10 .select2-dropdown {
        border-color: var(--e-global-color-f87721a);
           border-radius: 0px 0px 8px 8px;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    background: white;
    border: none;
    color: var(--e-global-color-primary);
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .select2-container--default .select2-selection--multiple .select2-selection__choice__display {

    color: var(--e-global-color-primary);
    background:white;
}
/*submit*/

.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__submit-wrap {
    justify-content: space-between;
}

.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder__submit-wrap > .jet-form-builder__submit {
    width: auto
}
/*errors*/
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-message.jet-form-builder-message--error {
    position: fixed;
    top: 20px;
    width: 100%;
    max-width: 320px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}
.elementor-29053 .elementor-element.elementor-element-1d25eeff .jet-form-builder-message.jet-form-builder-message--error:after {
    content: '×';
    color:black;
}/* End custom CSS */
/* Start custom CSS */@media (max-width:767px) {
  body.elementor-page-29053 { 
      background-image: unset!important;
  }
}/* End custom CSS */